{% extends 'layout.html' %}
{% block content %}

    <footer class="dark-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4>About</h4>
              <p>This website allows you to download YouTube videos in various formats. Enjoy your favorite videos offline!</p>
            </div>
            
            
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p class="text-center">&copy; 2023 YouTube Download. All rights reserved.</p>
              </div>
              <div class="col-md-6">
                <ul class="social-media-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>  
      {% endblock %}